# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
*.sln
*.VC.db
*.db
*.dll
*.exe
*.ilk
*.pdb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.idb
*.tlog
*.tlog
*.lastbuildstate
*.1.tlog
BEP1/\.vs/BEP1/v14/\.suo

*.opendb

BEP2/\.vs/BEP2/v14/\.suo

\.vs/BEP/v14/\.suo

RGB,RGBY,HSV,CMYK/\.vs/RGB,RGBY,HSV,CMYK/v14/\.suo

*.log

Histogram, Binarization, Thresholding/\.vs/
